<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.eseba.jp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.eseba.jp.EsebaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e5a9654eedda315122d1a7c8f9c34c2abbf0de7e"/>

        <activity
            android:name="com.eseba.jp.activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.eseba.jp.activity.MainActivity"/>
        <activity android:name="com.eseba.jp.activity.SettingActivity"/>
    </application>

</manifest>